[Desktop Entry]
Name=Blocksatz
Comment=Markdown-Artikel schreiben und als WordPress-Gutenberg-Blöcke veröffentlichen
Exec=blocksatz
Icon=de.linuxundich.Blocksatz
Terminal=false
Type=Application
Categories=Office;TextEditor;
Keywords=Markdown;WordPress;Gutenberg;Blog;Editor;
StartupNotify=true
MimeType=text/markdown;
